<h2 class="headertext">Hello {{ctrl.loggedInUsername}}</h2>
<form ng-submit="ctrl.logIn()" ng-if="!ctrl.loggedInUsername">
  <h2>Log In</h2><br/>
  <input type="text" ng-model="ctrl.username" placeholder="username" /> <br/>
  <input type="password" ng-model="ctrl.password" placeholder="password" /> <br/>
  <input type="submit" value="Log In" class="smallButton"/>
</form>
<form ng-submit="ctrl.logOut()" ng-if="ctrl.loggedInUsername">
  <h2>Log Out</h2><br/>
  <input type="submit" value="Logout" class="smallButton"/>
</form>
<form  class="forms" ng-submit="ctrl.createJob()" ng-if="ctrl.loggedInUsername">
  <h3>Create Job</h3><br/>
  <div class="formLeft">
  <input type="text" ng-model="ctrl.position" placeholder="Position"/><br>
  <input type="text" ng-model="ctrl.company" placeholder="Company"/><br/>
  <input type="text" ng-model="ctrl.applied" placeholder="Applied"/><br/>
  <input type="text" ng-model="ctrl.followedUp" placeholder="Followed Up"/><br/>
  <input type="text" ng-model="ctrl.salary" placeholder="Salary"/><br/>
  <input type="text" ng-model="ctrl.url" placeholder="Url"/><br/>
  <input type="text" ng-model="ctrl.status" placeholder="Notes"/><br/>
  <input type="checkbox" ng-model="ctrl.resume" placeholder="resume" class="box"/>Resume Submitted<br/>
  <input type="checkbox" ng-model="ctrl.letter" placeholder="letter" class="box"/>Cover Letter Submitted<br/>
  </div>
  <input type="submit" class="smallButton" value="Create Job">
</form>
<ul>
  <div class="cardContainer" ng-if="ctrl.loggedInUsername">
    <li class="card" ng-repeat="job in ctrl.jobs">
      <div ng-if="ctrl.loggedInUsername">
        <h2>{{job.position}}</h2>
        <!-- <img src="https://files.slack.com/files-pri/T0351JZQ0-FMJCTF2LV/image.png" alt="working" style="width:100%"> -->
        <img src="/images/meeting.png" alt="desk" style="width:100%">
        <div class="container">
          <h3>Company: {{job.company}}</h3>
          <h3>Applied: {{job.applied}}</h3>
          <h3>Did you follow up? {{job.followedUp}}</h3>
          <h3>Salary: {{job.salary}}</h3>
          <h3>URL: {{job.url}}</h3>
          <h3>Notes: {{job.status}}</h3>
          <h3 ng-if="job.resume">Resume Submitted: Yes</h3>
          <h3 ng-if="!job.resume">Resume Submitted: No</h3>
          <h3 ng-if="job.letter">Cover Letter Submitted: Yes</h3>
          <h3 ng-if="!job.letter">Cover Letter Submitted: No</h3>
          <a
            href="#"
            ng-if="$index !== ctrl.indexOfEditFormToShow"
            ng-click="ctrl.indexOfEditFormToShow = $index"
            class="smallButton">
            Edit this Job
          </a>
          <form
            class="forms"
              ng-submit="ctrl.editJob(job)"
              ng-if="$index === ctrl.indexOfEditFormToShow">
              <div class="editLeft">
                <input type="text" ng-model="ctrl.position" placeholder="Position"/><br>
                <input type="text" ng-model="ctrl.company" placeholder="Company"/><br/>
                <input type="text" ng-model="ctrl.applied" placeholder="Applied"/><br/>
                <input type="text" ng-model="ctrl.followedUp" placeholder="Followed Up"/><br/>
                <input type="text" ng-model="ctrl.salary" placeholder="Salary"/><br/>
                <input type="text" ng-model="ctrl.url" placeholder="Url"/><br/>
                <input type="text" ng-model="ctrl.status" placeholder="Notes"/><br/>
                  <input type="checkbox" ng-model="ctrl.resume" placeholder="resume" class="box"/>Resume Submitted<br/>
                  <input type="checkbox" ng-model="ctrl.letter" placeholder="letter" class="box"/>Cover Letter Submitted<br/>
              </div>
            <input type="submit" class="smallButton" value="Submit Change">
          </form>
          <button ng-click="ctrl.deleteJob(job)" class="smallButton">Delete This Job</button>
      </div>
    </li>
  </div>
</ul>
